@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.react-flow__node.selected {
  box-shadow: 0 0 0 2px #172033;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
